
h1 {
    text-align: center;
    padding: 350px;
}

button {
    
    border: none;
    font-size: 20px;
    text-align: center;
    margin-left: 640px;
    margin-top:0;
    margin-top: -300px;
    display:flex;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    display: inline-block;
 
}

body {
    background-color: red;
}